@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat-SemiBold"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  font-weight: 400;
  font-style: normal;
  src: local("PTSans-Regular"), url("../fonts/PTSans-Regular.woff2") format("woff2"), url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'PTSans';
  font-weight: 700;
  font-style: normal;
  src: local("PTSans-Bold"), url("../fonts/PTSans-Bold.woff2") format("woff2"), url("../fonts/PTSans-Bold.woff") format("woff");
  font-display: swap;
}

.nav, .header-top__inner, .header-nav__inner, .work__inner, .work__head, .basket__item, .basket__order, .basket__form, .log-in__info, .footer-nav__wrapper, .footer-accept__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body, .btn, .header-top__lang, .home-slider__subtitle, .catalog-filter__label, .catalog-content__sort-link, .catalog-content__view, .cart-description__buy, .basket__item-span, .basket__delete, .footer-nav__item a, .footer-nav__contact, .footer-nav__contact a, .footer-nav__text, .footer-nav__description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input,
textarea, input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder, .nav__title, .breadcrumbs__link, .title, .home-slider__title, .work__title, .search__link, .cart-description__heading, .cart-description__span, .cart-description__price-new, .cart-info__heading, .basket__item-size, .basket .jq-number__field input, .footer-nav__phone, .footer-nav__title, .footer-nav__subcribe {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
textarea, input:-ms-input-placeholder,
textarea:-ms-input-placeholder, .nav__title, .breadcrumbs__link, .title, .home-slider__title, .work__title, .search__link, .cart-description__heading, .cart-description__span, .cart-description__price-new, .cart-info__heading, .basket__item-size, .basket .jq-number__field input, .footer-nav__phone, .footer-nav__title, .footer-nav__subcribe {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
textarea, input::-ms-input-placeholder,
textarea::-ms-input-placeholder, .nav__title, .breadcrumbs__link, .title, .home-slider__title, .work__title, .search__link, .cart-description__heading, .cart-description__span, .cart-description__price-new, .cart-info__heading, .basket__item-size, .basket .jq-number__field input, .footer-nav__phone, .footer-nav__title, .footer-nav__subcribe {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

input,
textarea, input::placeholder,
textarea::placeholder, .nav__title, .breadcrumbs__link, .title, .home-slider__title, .work__title, .search__link, .cart-description__heading, .cart-description__span, .cart-description__price-new, .cart-info__heading, .basket__item-size, .basket .jq-number__field input, .footer-nav__phone, .footer-nav__title, .footer-nav__subcribe {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.work__span, .cart-description__subtitle span, .basket__item-heading, .basket__item-price, .basket__item-total, .basket__total {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.link, .offer__price {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.nav__link, .header-top__city, .header-top__link, .header-top__delivery, .header-nav__link, .flowers__span, .reviews-slider__name, .reviews-slider__review, .cart-review__name {
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header-top__span, .header-nav__num, .offer__head .offer__span {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.reviews-slider__name, .cart-review__name {
  font-size: 20px;
  line-height: 26px;
  color: #333;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
  margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

.index {
  height: 100vh;
  width: 100%;
  background: linear-gradient(149deg, #18bb9c 0%, #6a39af 42%, #bb1894 72%, #733586 100%);
  -webkit-animation: gradient 10s infinite linear;
          animation: gradient 10s infinite linear;
  background-size: 500%;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

@keyframes gradient {
  0% {
    background-position: 80% 0%;
  }
  50% {
    background-position: 20% 100%;
  }
  100% {
    background-position: 80% 0%;
  }
}

.start-page {
  height: 100vh;
}

.start-page__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.start-page__link + .start-page__link {
  margin-top: 20px;
}

.start-page__link {
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-align: center;
}

body,
html {
  height: 100%;
}

body {
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

a {
  color: #333;
}

input,
textarea {
  font-size: 16px;
  line-height: 17px;
  color: #fff;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #898989;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #898989;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #898989;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #898989;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border: none;
}

.container {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

.link {
  padding: 10px 30px;
  background: #b9956f;
  border-radius: 4px;
  font-size: 14px;
  line-height: 17px;
  color: #ebebeb;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.link:hover {
  background: #d2a97e;
}

.link:focus {
  background: #987045;
}

.link:disabled {
  color: #c8c8c8;
  background: linear-gradient(91.36deg, #f3dcc3 0.62%, rgba(255, 255, 255, 0) 99.11%), #f3dcc3;
}

.btn {
  display: inline-block;
  background: #00554e;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  color: #ebebeb;
  padding: 15px 30px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background: #70a5a0;
}

.btn:focus {
  background: #03453b;
}

.btn:disabled {
  color: #c8c8c8;
  background: #dedede;
}

.nav {
  margin-bottom: 29px;
  color: #03453b;
}

.nav__title {
  font-size: 36px;
  line-height: 100%;
}

.nav__subtitle {
  font-size: 16px;
  margin-top: 5px;
  line-height: 100%;
}

.nav__link {
  font-size: 18px;
  line-height: 23px;
  color: #03453b;
}

.nav__link svg {
  margin-left: 10px;
}

.back_to_top {
  position: fixed;
  bottom: 80px;
  right: 40px;
  z-index: 9999;
  display: none;
  cursor: pointer;
  background: #70a5a0;
  border: 1.5px solid #03453b;
  padding: 19px 35px;
}

.back_to_top-show {
  display: block;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  scroll-behavior: smooth;
}

.breadcrumbs {
  padding: 30px 0;
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
}

.breadcrumbs__item {
  position: relative;
}

.breadcrumbs__item:after {
  position: absolute;
  content: "/";
  right: -11px;
  top: 1px;
}

.breadcrumbs__item:last-child:after {
  content: none;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 17px;
  color: #333;
}

.title {
  font-size: 36px;
  line-height: 100%;
  color: #03453b;
  margin-bottom: 30px;
}

.main-cart {
  background: url("../img/main-bg.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

.header-top {
  padding: 10px 0;
}

.header-top .header-nav__num {
  display: none;
}

.header-top__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  padding: 7.2px 8.5px 7.2px 8.8px;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
  margin-left: 131px;
}

.header-top__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
  font-size: 13px;
  line-height: 17px;
}

.header-top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
  padding: 2.5px 0;
}

.header-top__delivery {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.header-top__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-top__span {
  font-size: 12px;
  line-height: 16px;
}

.header-top__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.header-top__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
}

.header-nav {
  background: #03453b;
}

.header-nav__inner {
  padding: 15px 0 14px;
}

.header-nav__list, .header-nav__num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 8px;
}

.header-nav__num {
  font-size: 16px;
  line-height: 21px;
  color: #ebebeb;
}

.header-nav__form {
  max-width: 389px;
  width: 100%;
  position: relative;
}

.header-nav__form .header-nav__search {
  position: absolute;
  top: 50%;
  right: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: transparent;
}

.header-nav__input {
  max-width: 100%;
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 12px 40px 13px 12px;
  background: transparent;
}

.header-nav__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
}

.header-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #ebebeb;
  position: relative;
}

.header-nav__link .header-nav__span {
  position: absolute;
  content: "";
  top: -3px;
  right: -2px;
}

.header-nav__span {
  width: 9px;
  height: 9px;
  background: #ae8646;
  border-radius: 50%;
}

.home-slider__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-slider__inner {
  padding: 200px 0 274px;
  color: #03453b;
}

.home-slider__title {
  max-width: 639px;
  font-size: 45px;
  line-height: 100%;
  margin-bottom: 20px;
}

.home-slider__subtitle {
  max-width: 639px;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
}

.home-slider .slick-dots {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
}

.home-slider .slick-dots li {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid #00554e;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.home-slider .slick-dots li.slick-active {
  width: 16px;
  height: 16px;
  background: #00554e;
  border-radius: 50%;
}

.flowers {
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: right top;
  position: relative;
}

.flowers::after {
  position: absolute;
  content: "";
  background: url("../img/flowers-bg.svg");
  width: 715px;
  height: 667px;
  top: 0;
  right: -95px;
  z-index: -1;
}

.flowers__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 20px;
}

.flowers__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  max-width: 1080px;
}

.flowers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  width: 100%;
  min-height: 129px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.flowers__item img {
  margin: auto auto 10px;
}

.flowers__rigth .flowers__item {
  max-width: 200px;
  width: 100%;
  min-height: 280px;
}

.flowers__span {
  display: block;
  font-size: 18px;
  line-height: 23px;
  color: #03453b;
  margin: 0 auto auto auto;
}

.offer {
  padding: 50px 0;
}

.offer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.offer__card {
  max-width: 310px;
  width: 100%;
  min-height: 470px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.offer__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.offer__head {
  width: 290px;
  height: 250px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.offer__head .offer__span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.offer__head .offer__order {
  position: absolute;
  top: 5px;
  right: 4px;
  background: transparent;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 195px;
}

.offer__heading {
  font-size: 18px;
  line-height: 22px;
}

.offer__price, .offer__buy {
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
}

.offer__price {
  margin: auto auto 20px;
}

.offer__link {
  width: 100%;
  margin-bottom: 15px;
}

.offer__order--active {
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.offer__order--active path {
  fill: #e12317;
}

.offer__new {
  color: #ebebeb;
  background: #00554e;
}

.offer__stock {
  background: #70a5a0;
}

.offer-special {
  position: relative;
  background: url("../img/pic.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  /*
  &::after{
    position: absolute;
    content: '';
    background: url('../img/pic.png');
    right: 0;
    top: 0;
    width: 220px;
    height: 811px;
  }*/
}

.about {
  padding-top: 100px;
}

.about__images {
  display: none;
}

.about__nav {
  margin-bottom: 50px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 11px 20px;
}

.about__img {
  width: 610px;
  height: 352px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__description {
  max-width: 640px;
  width: 100%;
}

.about__description:last-child {
  background: darkorange;
  position: relative;
}

.about__description:last-child::after {
  position: absolute;
  content: "";
  background: url("../img/about-bg.jpg");
  background-repeat: no-repeat;
  width: 950px;
  height: 516px;
  right: -970px;
  top: 0;
}

.about__text {
  max-width: 530px;
  width: 100%;
  font-size: 18px;
  line-height: 130%;
}

.about__text + .about__text {
  margin-top: 25px;
  margin-top: 14px;
}

.reviews {
  padding: 100px 0;
}

.reviews-slider .slick-list {
  overflow: inherit;
}

.reviews-slider__card {
  margin: 0 10px;
}

.reviews-slider__item {
  padding: 30px;
  gap: 20px;
  max-width: 530px;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

.reviews-slider__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.reviews-slider__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-slider__review {
  font-size: 16px;
  line-height: 21px;
  color: #bababa;
}

.reviews-slider .slick-arrow {
  top: -68px;
  right: 0;
  position: absolute;
  z-index: 2;
  background: transparent;
}

.reviews-slider .slick-prev.slick-arrow {
  right: 55px;
}

.work {
  background: #03453b;
  padding: 50px 0 100px;
  position: relative;
}

.work::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 265px;
  height: 158px;
  background: url("../img/work--one.png");
}

.work::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 209px;
  height: 228px;
  background: url("../img/work--second.png");
  z-index: 0;
}

.work__inner {
  position: relative;
  z-index: 1;
}

.work__item {
  max-width: 310px;
  width: 100%;
  min-height: 176px;
  padding: 15px;
  background: #03453b;
  border-radius: 4px;
  color: #ebebeb;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
     border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
  border-image-slice: 1;
}

.work__title {
  font-size: 36px;
  line-height: 100%;
  color: #ebebeb;
  margin-bottom: 50px;
  text-align: center;
}

.work__head {
  margin-bottom: 15px;
}

.work__number {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 63px;
  height: 63px;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  font-size: 24px;
  line-height: 100%;
}

.work__text {
  font-size: 16px;
  line-height: 130%;
}

.work__span {
  font-size: 20px;
  line-height: 100%;
  margin: 0 auto 0 15px;
}

.social-network {
  padding: 100px 0;
}

.social-network .nav {
  margin-bottom: 50px;
}

.social-network__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-network__card, .social-network__item {
  max-width: 310px;
}

.social-network__img {
  width: 310px;
  height: 310px;
  -o-object-fit: cover;
     object-fit: cover;
}

.catalog {
  padding-bottom: 100px;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0 20px;
}

.catalog-filter {
  max-width: 310px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.catalog-filter__reset {
  display: inline-block;
  max-width: 143px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 4px;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 130%;
  color: #03453b;
  padding: 14px 0 14px 14px;
  margin-bottom: 4px;
}

.catalog-filter__heading {
  padding: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #ebebeb;
  background: #00554e;
  border-radius: 4px;
}

.catalog-filter__list {
  padding: 15px;
}

.catalog-filter__item + .catalog-filter__item {
  margin-top: 15px;
}

.catalog-filter__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.catalog-filter__label + .catalog-filter__label {
  margin-top: 10px;
}

.catalog-filter__label .checkbox {
  margin-right: 15px;
}

.catalog-filter__label input {
  display: none;
  position: absolute;
}

.catalog-filter .checkbox {
  position: relative;
  width: 17px;
  height: 17px;
  border: 1px solid #03453b;
  border-radius: 4px;
}

.catalog-filter .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.catalog-filter__label .catalog-filter__checkbox:checked ~ .checkbox .checkmark {
  display: block;
}

.catalog-filter__label .catalog-filter__checkbox:checked ~ .checkbox {
  background: #03453b;
}

.catalog-content {
  max-width: 970px;
  width: 100%;
}

.catalog-content__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
}

.catalog-content__sort-link {
  font-size: 14px;
  line-height: 17px;
  color: #03453b;
}

.catalog-content__sort-link + .catalog-content__sort-link {
  margin-left: 15px;
}

.catalog-content__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalog-content__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.catalog-content__view {
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
  padding: 15px 35px;
  border: 1px solid #03453b;
  border-radius: 4px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.search {
  background: #03453b;
  padding: 50px 0 100px;
}

.search__title {
  color: #ebebeb;
}

.search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__link {
  display: inline-block;
  padding: 10px 25px;
  font-size: 16px;
  line-height: 100%;
  color: #ebebeb;
  border: 3px solid transparent;
  -o-border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
     border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
  border-image-slice: 1;
  border-radius: 4px;
}

.reviews-catalog .reviews-slider__card {
  margin: 0 40px;
}

.reviews-catalog .reviews-slider__item {
  max-width: 470px;
  background: rgba(238, 130, 238, 0.3);
}

.reviews-catalog .reviews-slider__head {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  gap: 20px 0;
}

.reviews-catalog .reviews-slider__review {
  text-align: center;
}

.reviews-catalog .slick-track {
  margin-left: -40px;
}

.cart__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-slider {
  width: 640px;
  height: 693px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart-slider__big {
  width: 640px;
  height: 587px;
  margin-bottom: 10px;
}

.cart-slider__big-item, .cart-slider__big-card {
  width: 640px;
  height: 587px;
}

.cart-slider__big-card img {
  width: 640px;
  height: 587px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-slider__nav {
  width: 640px;
  height: 96px;
}

.cart-slider__nav-item, .cart-slider__nav-card {
  width: 102px;
  height: 96px;
}

.cart-slider__nav-card img {
  width: 102px;
  height: 96px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cart-description {
  max-width: 639px;
  width: 100%;
}

.cart-description__title {
  margin-bottom: 10px;
}

.cart-description__subtitle {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
}

.cart-description__item + .cart-description__item {
  margin-top: 30px;
}

.cart-description__heading {
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
  margin-bottom: 10px;
}

.cart-description__form {
  max-width: 431px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.cart-description__span {
  display: inline-block;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 39px;
  font-size: 16px;
  line-height: 20px;
  color: #03453b;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cart-description__item-size .cart-description__span {
  font-size: 18px;
  line-height: 22px;
  padding: 10px 35px;
}

.cart-description__item-size .cart-description__form {
  max-width: 100%;
}

.cart-description__discount {
  color: #ae8646;
}

.cart-description__label .cart-description__checkbox:checked + .cart-description__span {
  background: #03453b;
  color: #fff;
}

.cart-description__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.cart-description__price-new {
  font-size: 36px;
  line-height: 44px;
  color: #ae8646;
}

.cart-description__price-old {
  font-size: 20px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #bababa;
  margin: 20px 0;
}

.cart-description__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 29px;
}

.cart-description__order {
  padding: 15px 84px;
}

.cart-description__buy {
  padding: 15px 35px;
  border: 1px solid #03453b;
  border-radius: 4px;
  font-size: 18px;
  line-height: 22px;
  color: #03453b;
}

.cart-description__heart {
  padding: 10px 15px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.cart-info {
  margin-top: 36px;
  padding-bottom: 100px;
}

.cart-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-info__content {
  max-width: 640px;
  width: 100%;
}

.cart-info__item + .cart-info__item {
  margin-top: 46px;
}

.cart-info__item {
  max-width: 530px;
  width: 100%;
}

.cart-info__heading {
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 15px;
}

.cart-info__text {
  font-size: 18px;
  line-height: 22px;
}

.cart-accordeon {
  max-width: 639px;
  width: 100%;
}

.cart-accordeon__box {
  max-width: 530px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px 0;
}

.cart-accordeon__box .cart-accordeon__body {
  width: 100%;
  margin: 0 auto;
  height: 0;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: color 0.5s, padding 0.5s;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 16px;
  line-height: 150%;
  color: #2f323a;
  background: #f6f6f6;
}

.cart-accordeon__box .cart-accordeon__label {
  cursor: pointer;
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 100;
  -webkit-transition: color 0.35s;
  transition: color 0.35s;
  padding: 5px 0 10px;
  font-size: 20px;
  line-height: 24px;
  background: #fffcfa;
  -webkit-box-shadow: inset 0px -1px 0px #8d8d8d;
          box-shadow: inset 0px -1px 0px #8d8d8d;
}

.cart-accordeon__box .cart-accordeon__input {
  display: none;
}

.cart-accordeon__box .cart-accordeon__label:before {
  float: right;
  content: url("../img/icons/arrow-accordeon.svg");
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
}

.cart-accordeon__box .cart-accordeon__input:checked + .cart-accordeon__label {
  background: #fffcfa;
  -webkit-box-shadow: inset 0px -1px 0px #8d8d8d;
          box-shadow: inset 0px -1px 0px #8d8d8d;
}

.cart-accordeon__box .cart-accordeon__input:checked + .cart-accordeon__label:before {
  -webkit-transition: -webkit-transform 0.35s ease-in-out;
  transition: -webkit-transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out;
  transition: transform 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.cart-accordeon__box .cart-accordeon__input:checked + .cart-accordeon__label + .cart-accordeon__body {
  height: auto;
  margin-top: -12px;
  margin-bottom: -12px;
  padding: 16px 20px;
  max-width: 476px;
  width: 100%;
  margin: 0 auto;
}

.cart-accordeon__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-accordeon__left {
  max-width: 310px;
  width: 100%;
}

.cart-accordeon__left-text + .cart-accordeon__left-text,
.cart-accordeon__right-text + .cart-accordeon__right-text {
  margin-top: 5px;
}

.cart-accordeon__left-text, .cart-accordeon__right-text {
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

.cart-review {
  padding: 100px 0;
}

.cart-review__title {
  margin-bottom: 30px;
}

.cart-review__form {
  max-width: 750px;
  width: 100%;
  margin-bottom: 40px;
}

.cart-review__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 30px;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 16px;
}

.cart-review__input, .cart-review__textarea {
  max-width: 100%;
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 16px 17px 17px;
  margin-bottom: 10px;
}

.cart-review__textarea {
  resize: none;
  min-height: 134px;
}

.cart-review__span {
  display: inline-block;
  font-size: 14px;
  line-height: 17px;
  color: #bababa;
  margin-bottom: 30px;
}

.cart-review__btn {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 82px;
}

.cart-review__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 12px;
}

.cart-review__links {
  font-size: 14px;
  line-height: 17px;
  color: #03453b;
}

.cart-review__links + .cart-review__links {
  margin: 15px;
}

.cart-review__links:first-child {
  margin-left: 20px;
}

.cart-review__view + .cart-review__view {
  margin-top: 15px;
}

.cart-review__view {
  max-width: 960px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-review__user-icon {
  width: 59px;
  height: 59px;
  border-radius: 50%;
}

.cart-review__info {
  max-width: 840px;
  margin-left: 20px;
}

.cart-review__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 21px;
}

.cart-review__date {
  font-size: 14px;
  line-height: 17px;
  color: #03453b;
  margin: 0 auto 0 50px;
}

.basket {
  padding-bottom: 100px;
}

.basket__inner {
  margin-bottom: 15px;
}

.basket__item {
  max-width: 100%;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding: 10px 9px 10px 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.basket__item + .basket__item {
  margin-top: 5px;
}

.basket__item-img {
  height: 130px;
  width: 126px;
  overflow: hidden;
}

.basket__item-name {
  max-width: 241px;
}

.basket__item-heading {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 20px;
}

.basket__item-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 15px;
  font-size: 14px;
  line-height: 17px;
}

.basket__item-price, .basket__item-total {
  font-size: 18px;
  line-height: 22px;
}

.basket .jq-number {
  position: relative;
  vertical-align: middle;
  padding: 0 0px 0 0;
  width: 109px;
  height: 30px;
  border: none;
}

.basket .jq-number__field {
  width: 100%;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  height: 100%;
}

.basket .jq-number__spin {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-shadow: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid #03453b;
  border-radius: 4px;
}

.basket .jq-number__spin:after {
  display: none;
}

.basket .jq-number__spin.minus {
  left: 0;
  top: 0;
  background: url("../img/icons/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.basket .jq-number__spin.plus {
  right: 0;
  top: 0;
  background: url("../img/icons/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.basket .jq-number__field input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  height: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 130%;
  color: #333333;
}

.basket__item-close {
  background: transparent;
}

.basket__delete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #bababa;
  gap: 0 15px;
  margin-bottom: 39px;
}

.basket__total {
  font-size: 24px;
  line-height: 130%;
  color: #03453b;
  margin: 0 0 20px auto;
  text-align: right;
}

.basket__form {
  gap: 0 21px;
  max-width: 330px;
}

.basket__input {
  max-width: 309px;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 16px 17px 17px;
}

.log-in {
  padding: 100px 0;
  text-align: center;
}

.log-in__inner {
  max-width: 580px;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  margin: 0 auto;
  padding: 70px;
  background: url("../img/log-in.png");
  background-repeat: no-repeat;
  background-position: left top;
}

.log-in__form {
  max-width: 440px;
}

.log-in__label {
  width: 100%;
}

.log-in__input {
  width: 100%;
  border: 1px solid #bababa;
  border-radius: 4px;
  padding: 17px;
  margin-bottom: 10px;
}

.log-in__info {
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 130%;
}

.log-in .btn {
  display: inline-block;
  width: 100%;
}

.log-in .btn + .btn {
  margin-top: 5px;
}

.log-in .custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.log-in .custom-checkbox .checkbox {
  margin-right: 15px;
}

.log-in .custom-checkbox input {
  display: none;
  position: absolute;
}

.log-in .checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #03453b;
  border-radius: 4px;
}

.log-in .checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.log-in .custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.log-in .custom-checkbox input:checked ~ .checkbox {
  background: transparent;
}

.log-in__input {
  color: #2f323a;
}

.log-in__label--password {
  position: relative;
}

.log-in__label--password .log-in__input {
  padding-right: 40px;
}

.log-in__label--password .log-in__eye-off {
  position: absolute;
  top: 0;
  right: 16px;
  cursor: pointer;
}

.log-in__sign-up {
  background: #fff;
  border: 1px solid #03453B;
  color: #03453B;
}

.footer-nav {
  padding: 40px 0 36px;
  background: #03453b;
  position: relative;
}

.footer-nav:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: url("../img/footer--before.png");
  width: 190px;
  height: 215px;
  z-index: 0;
}

.footer-nav::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: url("../img/footer--after.png");
  width: 265px;
  height: 158px;
}

.footer-nav__logo {
  display: inline-block;
  margin-bottom: 30px;
}

.footer-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
}

.footer-nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 320px;
}

.footer-nav__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px 0;
}

.footer-nav__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 11px;
  font-size: 18px;
  line-height: 22px;
  color: #ebebeb;
}

.footer-nav__item + .footer-nav__item {
  margin-top: 10px;
}

.footer-nav__item a {
  font-size: 16px;
  line-height: 20px;
  text-transform: capitalize;
  color: #ebebeb;
}

.footer-nav__items:last-child {
  max-width: 420px;
  width: 100%;
}

.footer-nav__title {
  font-size: 16px;
  line-height: 20px;
  color: #ebebeb;
  margin-bottom: 10px;
}

.footer-nav__form {
  max-width: 420px;
  width: 100%;
  position: relative;
}

.footer-nav__form .footer-nav__subcribe {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}

.footer-nav__input {
  max-width: 100%;
  width: 100%;
  padding: 12px;
  border: 1px solid #c4c4c4;
  border-radius: 4px;
  padding-bottom: 13px;
}

.footer-nav__subcribe {
  background: #70a5a0;
  border-radius: 3px;
  font-size: 16px;
  line-height: 20px;
  color: #ebebeb;
  padding: 10px 20px;
}

.footer-nav__contact {
  font-size: 18px;
  line-height: 22px;
  color: #dddddd;
}

.footer-nav__contact a {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #dddddd;
  margin: 20px 0;
}

.footer-nav__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 10px;
}

.footer-nav__wrapper {
  margin-bottom: 13px;
}

.footer-nav__text, .footer-nav__description {
  font-size: 13px;
  line-height: 130%;
  color: #bababa;
  position: relative;
  z-index: 1;
}

.footer-nav__description {
  max-width: 696px;
}

.footer-accept {
  padding: 15px 0 17px;
}

@media (max-width: 1300px) {
  .header-nav__form {
    max-width: 355px;
  }
}

@media (max-width: 1200px) {
  .header-nav__item:nth-child(2), .header-nav__item:nth-child(3) {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header-top__list {
    gap: 0 10px;
  }
}

@media (max-width: 1024px) {
  .header-top__social {
    display: none;
  }
}

@media (max-width: 900px) {
  .header-nav__form {
    max-width: 300px;
  }
}

@media (max-width: 855px) {
  .header-top__city {
    gap: 0 5px;
    padding: 7px 0;
  }
}

@media (max-width: 820px) {
  .header-top__box {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-top__list {
    display: none;
  }
  .header-top__box {
    display: block;
    padding: 0;
    margin: 0 13px 0 auto;
  }
  .header-top__lang {
    margin-left: 30px;
  }
  .header-top__clients {
    padding: 10px 30px;
    background: #b9956f;
    border-radius: 4px;
    font-size: 14px;
    line-height: 17px;
    color: #ebebeb;
  }
  .header-nav__logo {
    width: 134px;
    height: 31px;
  }
  .header-nav__num {
    display: none;
  }
  .header-nav__form {
    max-width: 358px;
  }
}

@media (max-width: 680px) {
  .header-nav__form {
    max-width: 300px;
  }
}

@media (max-width: 610px) {
  .header-top__clients {
    padding: 10px 15px;
  }
  .header-top__lang {
    margin-left: 15px;
  }
  .header-nav__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 0;
  }
  .header-nav__form {
    max-width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 530px) {
  .header-top__box {
    display: none;
  }
  .header-top__clients {
    margin-left: auto;
  }
}

@media (max-width: 375px) {
  .header-top__clients {
    display: none;
  }
  .header-top .header-nav__num {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #333;
  }
}

@media (max-width: 1440px) {
  .flowers__rigth .flowers__item {
    width: 200px;
  }
  .flowers__left {
    max-width: 100%;
    gap: 15px 0;
  }
  .flowers__left .flowers__item {
    max-width: 180px;
  }
  .offer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .offer__card {
    max-width: 380px;
  }
  .offer__head {
    width: 100%;
  }
  .offer__img {
    width: 360px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .about__description {
    max-width: 480px;
    width: 100%;
  }
  .about__text {
    max-width: 100%;
  }
  .about__description:last-child {
    max-width: 610px;
  }
}

@media (max-width: 1300px) {
  .flowers__rigth .flowers__item {
    width: 180px;
  }
  .flowers__left {
    max-width: 100%;
    gap: 5px 0;
  }
  .flowers__left .flowers__item {
    max-width: 165px;
  }
  .work__span {
    max-width: 100px;
    margin: 0 auto 0 15px;
  }
  .work .work__item {
    max-width: 275px;
    min-height: 200px;
  }
  .social-network {
    padding: 80px 0;
  }
  .social-network__card, .social-network__item {
    width: 290px;
    margin: 0 15px;
  }
  .social-network__img {
    width: 290px;
  }
  .social-network__slider {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: -30px;
  }
  .social-network__slider::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@media (max-width: 1200px) {
  .flowers__rigth .flowers__item {
    width: 180px;
  }
  .flowers__left {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 15px 10px;
    justify-items: center;
  }
  .flowers__left .flowers__item {
    max-width: 100%;
  }
  .about {
    padding-top: 60px;
  }
  .about__inner {
    display: block;
  }
  .about__img {
    width: 550px;
    float: left;
    margin: 0 15px 15px 0;
  }
  .about__text + .about__text {
    margin-top: 5px;
  }
  .about__description {
    max-width: 100%;
  }
  .about__description:last-child {
    max-width: 100%;
    background: transparent;
    z-index: -1;
  }
  .about__description:last-child::after {
    display: none;
  }
  .about__images {
    display: block;
    max-width: 100%;
    margin-top: 15px;
  }
  .work .work__item {
    max-width: 250px;
    min-height: 200px;
  }
}

@media (max-width: 1100px) {
  .home-slider__inner {
    padding: 150px 0px;
  }
  .offer__head {
    height: 235px;
  }
  .offer__body {
    height: 175px;
  }
  .offer__card {
    min-height: 435px;
  }
  .work__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px 0;
  }
  .work .work__item {
    max-width: 500px;
    min-height: 200px;
  }
}

@media (max-width: 1024px) {
  .home-slider__inner {
    padding: 125px 0px;
  }
  .home-slider__item {
    background-position-x: center !important;
  }
  .home-slider .slick-dots {
    bottom: 45px;
  }
  .offer__head {
    height: 235px;
  }
  .offer__body {
    height: 165px;
  }
  .offer__card {
    min-height: 400px;
  }
  .reviews {
    padding: 80px 0;
  }
  .reviews-slider__item {
    padding: 20px;
    background-color: dodgerblue;
  }
  .work .work__item {
    max-width: 480px;
    min-height: 200px;
  }
}

@media (max-width: 950px) {
  .offer__content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .nav__title {
    font-size: 32px;
    line-height: 90%;
  }
  .about__img {
    width: 505px;
  }
}

@media (max-width: 830px) {
  .about__img {
    width: 450px;
  }
  .work {
    padding: 50px 0;
  }
  .work .work__item {
    max-width: 380px;
    min-height: 176px;
  }
}

@media (max-width: 805px) {
  .nav__title {
    font-size: 28px;
  }
  .nav__link svg {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .home-slider__inner {
    padding: 98px 0px 170px;
  }
  .home-slider__title {
    font-size: 36px;
    line-height: 100%;
    max-width: 510px;
  }
  .home-slider .slick-dots {
    bottom: 40px;
  }
  .home-slider__subtitle {
    max-width: 434px;
  }
  .nav__title {
    font-size: 36px;
  }
  .nav__link {
    display: none;
  }
  .about .nav__title {
    font-size: 34px;
  }
  .about__img {
    width: 354px;
    height: 352px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 20px;
  }
  .work {
    padding: 50px 0;
  }
  .work .work__item {
    max-width: 358px;
    min-height: 176px;
  }
  .work__title {
    position: relative;
    z-index: 1;
  }
  .social-network {
    padding: 60px 0;
  }
  .social-network .nav__title {
    font-size: 32px;
  }
  .offer-special {
    background-image: none;
  }
  .reviews .container {
    overflow-x: hidden;
  }
}

@media (max-width: 650px) {
  .home-slider__inner {
    padding: 90px 0px;
  }
  .home-slider .slick-dots {
    bottom: 30px;
  }
}

@media (max-width: 600px) {
  .home-slider__title {
    font-size: 34px;
    max-width: 475px;
  }
  .home-slider__subtitle {
    max-width: 434px;
  }
  .home-slider__order {
    padding: 15px 25px;
  }
}

@media (max-width: 450px) {
  .home-slider__inner {
    padding: 80px 0;
  }
  .home-slider__title {
    font-size: 30px;
    max-width: 100%;
  }
  .offer {
    padding: 35px 0;
  }
  .offer__content {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .offer__card {
    max-width: 100%;
  }
  .offer__img {
    width: 100%;
  }
  .nav__title {
    font-size: 26px;
  }
  .nav__subtitle {
    font-size: 14px;
  }
  .about .nav__title {
    font-size: 30px;
    text-align: center;
  }
  .about__img {
    width: 225px;
    height: 225px;
    -o-object-fit: cover;
       object-fit: cover;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .about__text {
    font-size: 14px;
  }
  .reviews {
    padding: 45px 0;
  }
  .reviews-slider .slick-arrow {
    top: -45px;
  }
  .work {
    padding: 30px 0;
  }
  .work .work__item {
    max-width: 100%;
    width: 100%;
    text-align: center;
    min-height: auto;
    border: none;
  }
  .work__number {
    display: none;
  }
  .work__head {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .work__title {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .work__wrapper {
    position: relative;
    z-index: 1;
    border: 3px solid transparent;
    -o-border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
       border-image: linear-gradient(268.52deg, #ab8d60 -67990.85%, #c4a673 -59622.4%, #f2d495 -43480.17%, #ab8d60 -20034.13%);
    border-image-slice: 1;
  }
  .work__span {
    width: 100%;
    margin: 0;
  }
  .social-network {
    padding: 40px 0;
  }
  .social-network .nav {
    margin-bottom: 30px;
  }
  .social-network .nav__title {
    font-size: 28px;
  }
}

@media (max-width: 414px) {
  .home-slider__title {
    font-size: 27px;
    text-align: center;
  }
  .home-slider__subtitle {
    text-align: center;
  }
  .nav__title {
    font-size: 23px;
  }
  .about {
    padding-top: 40px;
  }
  .about .nav__title {
    font-size: 26px;
  }
  .about__img {
    width: 185px;
    height: 185px;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  .reviews {
    padding: 35px 0;
  }
}

@media (max-width: 390px) {
  .about .nav__title {
    font-size: 26px;
  }
  .about__img {
    width: 100%;
    float: none;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 375px) {
  .home-slider__inner {
    padding: 70px 0;
  }
  .home-slider__title {
    font-size: 26px;
  }
  .home-slider__subtitle {
    max-width: 100%;
  }
  .home-slider .slick-dots {
    bottom: 20px;
    gap: 0 10px;
  }
  .home-slider .slick-dots li {
    width: 12px;
    height: 12px;
  }
  .home-slider .slick-dots li.slick-active {
    width: 12px;
    height: 12px;
  }
  .home-slider__order {
    padding: 10px 15px;
    margin: 0 auto;
    display: table;
  }
}

@media (max-width: 320px) {
  .offer__link {
    padding: 10px 0;
  }
  .nav__title {
    font-size: 19px;
  }
  .about .nav__title {
    font-size: 25px;
  }
}

@media (max-width: 1440px) {
  .catalog-content .offer__card {
    max-width: 305px;
  }
  .catalog-content .offer__img {
    width: 305px;
  }
}

@media (max-width: 1320px) {
  .catalog-content .offer__card {
    max-width: 420px;
  }
  .catalog-content .offer__img {
    width: 420px;
  }
}

@media (max-width: 1220px) {
  .catalog-content .offer__card {
    max-width: 390px;
  }
  .catalog-content .offer__img {
    width: 390px;
  }
}

@media (max-width: 1024px) {
  .catalog__inner {
    gap: 0;
  }
  .catalog-content .offer__card {
    max-width: 300px;
  }
  .catalog-content .offer__img {
    width: 300px;
  }
  .catalog-filter {
    display: none;
  }
  .search {
    padding: 65px 0;
  }
  .reviews-catalog .reviews-slider__item {
    max-width: 470px;
    width: 100%;
  }
  .reviews-catalog .reviews-slider__card {
    margin: 0 15px;
  }
  .work .work__item {
    background: transparent;
  }
}

@media (max-width: 975px) {
  .catalog-content .offer__card {
    max-width: 275px;
  }
  .catalog-content .offer__img {
    width: 275px;
  }
}

@media (max-width: 965px) {
  .catalog-content .offer__card {
    max-width: 260px;
  }
  .catalog-content .offer__img {
    width: 260px;
  }
}

@media (max-width: 900px) {
  .catalog-content .offer__card {
    max-width: 245px;
  }
  .catalog-content .offer__img {
    width: 245px;
  }
}

@media (max-width: 768px) {
  .catalog-content .offer__card {
    max-width: 350px;
  }
  .catalog-content .offer__img {
    width: 350px;
  }
  .search {
    padding: 50px 0;
  }
  .reviews-slider .slick-arrow {
    top: -55px;
  }
}

@media (max-width: 425px) {
  .catalog-content .offer__card {
    max-width: 185px;
    min-height: 388px;
  }
  .catalog-content .offer__img {
    width: 185px;
  }
  .catalog-content .offer__body {
    min-height: 225px;
  }
  .catalog-content .offer__link {
    padding: 10px 0px;
  }
  .catalog-content .offer__heading {
    font-size: 16px;
  }
  .catalog-content .offer__head {
    height: 142px;
  }
  .search__link {
    padding: 10px 15px;
  }
  .reviews-slider .slick-arrow {
    top: -45px;
  }
}

@media (max-width: 414px) {
  .catalog .container {
    padding: 0;
  }
  .catalog title {
    padding-left: 15px;
  }
  .catalog-content .offer__card {
    max-width: 195px;
  }
  .catalog-content .offer__img {
    width: 195px;
  }
  .catalog-content__sort {
    font-size: 16px;
    gap: 0 15px;
    padding-left: 15px;
  }
  .catalog-content__sort-link + .catalog-content__sort-link {
    margin-left: 5px;
  }
}

@media (max-width: 390px) {
  .catalog-content .offer__card {
    max-width: 182px;
  }
  .catalog-content .offer__img {
    width: 182px;
  }
  .catalog-content__sort {
    font-size: 16px;
    gap: 0 10px;
  }
}

@media (max-width: 375px) {
  .catalog-content__info {
    gap: 0;
  }
  .catalog-content .offer__card {
    max-width: 185px;
  }
  .catalog-content .offer__img {
    width: 185px;
  }
  .catalog-content__view {
    padding: 10px 25px;
  }
  .search .title {
    font-size: 32px;
  }
  .search__link {
    padding: 10px 8px;
  }
}

@media (max-width: 360px) {
  .catalog-content .offer__card {
    max-width: 175px;
  }
  .catalog-content .offer__img {
    width: 175px;
  }
}

@media (max-width: 320px) {
  .catalog-content .offer__card {
    max-width: 158px;
  }
  .catalog-content .offer__img {
    width: 158px;
  }
  .catalog-content__sort {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .catalog-content .offer__price,
  .catalog-content .offer__buy {
    font-size: 15px;
  }
  .catalog-content__link {
    font-size: 15px;
  }
  .search__inner {
    gap: 10px 7px;
  }
}

@media (max-width: 1024px) {
  .footer-nav {
    padding: 35px 0;
  }
  .footer-nav__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 15px 0px;
  }
  .footer-nav__items {
    text-align: center;
  }
  .footer-nav__items:last-child {
    max-width: 100%;
    width: 100%;
  }
  .footer-nav__form {
    max-width: 420px;
    width: 100%;
    position: relative;
    margin: 0 auto;
  }
  .footer-nav__description {
    max-width: 100%;
    text-align: center;
  }
}

@media (max-width: 950px) {
  .footer-nav__wrapper {
    gap: 15px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-nav__text {
    margin: 0 auto;
  }
  .footer-accept__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px 0;
  }
  .footer-accept__inner a {
    max-width: 100px;
    width: 100%;
  }
}

@media (max-width: 525px) {
  .footer-nav__items:first-child {
    min-height: auto;
    gap: 20px 0;
    max-width: 100%;
    width: 100%;
  }
  .footer-nav__items:nth-child(2), .footer-nav__items:nth-child(3) {
    max-width: 100%;
    width: 100%;
  }
  .footer-nav__items:last-child {
    min-height: auto;
    gap: 15px 0;
  }
  .footer-nav__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-nav__social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 450px) {
  .footer-nav__subcribe {
    padding: 10px;
  }
}
/*# sourceMappingURL=style.css.map */