@media (max-width: 1440px) {
  .catalog-content {
    .offer__card {
      max-width: 305px;
    }
    .offer__img {
      width: 305px;
    }
  }
}

@media (max-width: 1320px) {
  .catalog-content {
    .offer__card {
      max-width: 420px;
    }
    .offer__img {
      width: 420px;
    }
  }
}

@media (max-width: 1220px) {
  .catalog-content {
    .offer__card {
      max-width: 390px;
    }
    .offer__img {
      width: 390px;
    }
  }
}

@media (max-width: 1024px) {
  .catalog {
    &__inner {
      gap: 0;
    }
  }
  .catalog-content {
    .offer__card {
      max-width: 300px;
    }
    .offer__img {
      width: 300px;
    }
  }
  .catalog-filter {
    display: none;
  }
  .search {
    padding: 65px 0;
  }
  .reviews-catalog {
    .reviews-slider__item {
      max-width: 470px;
      width: 100%;
    }
    .reviews-slider__card {
      margin: 0 15px;
    }
  }
  .work {
    .work__item {
      background: transparent;
    }
  }
}

@media (max-width: 975px) {
  .catalog-content {
    .offer__card {
      max-width: 275px;
    }
    .offer__img {
      width: 275px;
    }
  }
}

@media (max-width: 965px) {
  .catalog-content {
    .offer__card {
      max-width: 260px;
    }
    .offer__img {
      width: 260px;
    }
  }
}

@media (max-width: 900px) {
  .catalog-content {
    .offer__card {
      max-width: 245px;
    }
    .offer__img {
      width: 245px;
    }
  }
}

@media (max-width: 768px) {
  .catalog-content {
    .offer__card {
      max-width: 350px;
    }
    .offer__img {
      width: 350px;
    }
  }
  .search {
    padding: 50px 0;
  }
  .reviews-slider {
    .slick-arrow {
      top: -55px;
    }
  }
}

@media (max-width: 425px) {
  .catalog-content {
    .offer__card {
      max-width: 185px;
      min-height: 388px;
    }
    .offer__img {
      width: 185px;
    }
    .offer__body {
      min-height: 225px;
    }
    .offer__link {
      padding: 10px 0px;
    }
    .offer__heading {
      font-size: 16px;
    }
    .offer__head {
      height: 142px;
    }
  }
  .search {
    &__link {
      padding: 10px 15px;
    }
  }
  .reviews-slider {
    .slick-arrow {
      top: -45px;
    }
  }
}

@media (max-width: 414px) {
  .catalog {
    .container {
      padding: 0;
    }
    title {
      padding-left: 15px;
    }
  }
  .catalog-content {
    .offer__card {
      max-width: 195px;
    }
    .offer__img {
      width: 195px;
    }
    &__sort {
      font-size: 16px;
      gap: 0 15px;
      padding-left: 15px;
    }
    &__sort-link + .catalog-content__sort-link {
      margin-left: 5px;
    }
  }
}

@media (max-width: 390px) {
  .catalog-content {
    .offer__card {
      max-width: 182px;
    }
    .offer__img {
      width: 182px;
    }
    &__sort {
      font-size: 16px;
      gap: 0 10px;
    }
  }
}

@media (max-width: 375px) {
  .catalog-content {
    &__info {
      gap: 0;
    }
    .offer__card {
      max-width: 185px;
    }
    .offer__img {
      width: 185px;
    }
    &__view {
      padding: 10px 25px;
    }
  }
  .search {
    .title {
      font-size: 32px;
    }
    &__link {
      padding: 10px 8px;
    }
  }
}

@media (max-width: 360px) {
  .catalog-content {
    .offer__card {
      max-width: 175px;
    }
    .offer__img {
      width: 175px;
    }
  }
}

@media (max-width: 320px) {
  .catalog-content {
    .offer__card {
      max-width: 158px;
    }
    .offer__img {
      width: 158px;
    }
    &__sort {
      flex-wrap: wrap;
    }
    .offer__price,
    .offer__buy {
      font-size: 15px;
    }
    &__link {
      font-size: 15px;
    }
  }
  .search {
    &__inner {
      gap: 10px 7px;
    }
  }
}
