%flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%Montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%Montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%Montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}

%Montserrat-700 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%PTSans-400 {
  font-family: "PTSans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%PTSans-700 {
  font-family: "PTSans", sans-serif;
  font-weight: 700;
  font-style: normal;
}
